body {
	font-family: "Courier New", Courier, monospace;
	margin: 0;
	user-select: none;
}

.item {
	width: 32px;
	position: absolute;
}

.icon {
	width: 32px;
	image-rendering: pixelated;
}

.item .name {
	display: none;
	width: max-content;
	font-weight: bold;
	pointer-events: none;
}

.item:hover .name {
	display: inline;
	position: absolute;
	background: #222222;
	color: #aaaaaa;
	margin-left: 25px;
	z-index: 2;
}

item-slot {
	width: 32px;
	height: 32px;
	background: #aaaaaa;
	box-shadow: inset 0 0 0 3px #5a5a5a;
	display: inline-block;
	margin: 3px;
}

#bottom {
	position: absolute;
	bottom: 0;
}

#hint {
	background: #222222;
	color: #aaaaaa;
	width: max-content;
	max-width: 450px;
	line-height: 32px;
	padding-left: 10px;
}

item-slot.inventory {
	width: 100vw;
	height: 30vh;
	display: block;
	margin: 0;
	text-align: center;
}

item-slot.inventory .item {
	position: initial !important;
	margin: 1px;
	display: inline-block;
}

#crafting {
	width: max-content;
	margin: auto;
	margin-top: calc(50vh - 130px);
}

#result {
	margin-left: 30px;
}

#reference-gui {
	position: absolute;
	top: 0;
}

#reference-gui img {
	width: 32px;
	height: 32px;
	background: #aaaaaa;
	box-shadow: inset 0 0 0 3px #5a5a5a;
	display: inline-block;
	margin: 3px;
}
